{% extends "base.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{% block content%}
<table id="data" ckass="table table-striped">
    <thead>
        <tr>
            <th>UID</th>
            <th>NAME</th>
            <th>SOURCE</th>
            <th>LAST SEEN</th>
        </tr>
    </thead>
    <tbody>
        {% for physicalDevice in physicalDevices %}
        <tr class='clickable-row' data-href="">
            <td>{{ physicalDevice.uid }}</td>
            <td><a href="{{ url_for('physical_device_form', uid=physicalDevice.uid) }}">{{ physicalDevice.name }}</a></td>
            <td>{{ physicalDevice.source_name }}</td>
            <td>{{ physicalDevice.last_seen }}</td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>